html {
    background-color: rgb(48, 95, 126);
}
body{
    font-family: Tahoma, sans-serif;
}
.container {
    background-color: rgb(255,255,255);
    max-width: 940px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
header {
    color: rgb(48, 95, 126);
    padding-top: 40px;
    padding-bottom: 40px;
}
header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
header p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.content-area {
    border-top: 3px solid rgb(150, 184, 206);
    border-bottom: 3px solid rgb(150, 184, 206);
}
.main-area {
    text-align: justify;
    width: 66%;
    float: left;
}
.sidebar {
    background-color: rgb(150, 184, 206);
    width: 30%;
    float: right;
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
}
footer {
    text-decoration: none;
    text-align: center;
    color:rgb(150, 184, 206);
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a {
    text-decoration: none;
    color:rgb(57, 146, 206);
}
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}